<div class="table-resposnive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-2">Name</th>
				<th class="col-md-2">Start Time</th>
				<th class="col-md-2">End Time</th>
				<th class="col-md-6">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let evt of events">
                <th class="col-md-2"><a [routerLink]="evt.Id"><small>{{evt.Name}}</small></a></th>
				<th class="col-md-2"><small>{{evt.StartTime | date: 'MMMM d, y, HH:mm'}}</small></th>
				<th class="col-md-2"><small>{{evt.EndTime | date: 'MMMM d, y, HH:mm'}}</small></th>
				<th class="col-md-6"><small>{{evt.Description}}</small></th>
			</tr>
		</tbody>
	</table>
</div>
<p-paginator [rows]="filter.PageSize" *ngIf="this.eventCount" [totalRecords]="this.eventCount" (onPageChange)="onPageChange($event)"></p-paginator>