<div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="initialZoom" (boundsChange)="onBoundsChange($event)" (zoomChange)="onZoomChange($event)" (idle)="getEvents()">
        <div *ngFor="let mapPoint of mapPoints">
            <agm-marker *ngIf="mapPoint.Count === 1" [title]="mapPoint.Name" [iconUrl]="getIconUrl(mapPoint.Count)" [latitude]="mapPoint.Y" [longitude]="mapPoint.X">
                <agm-info-window>
                    <strong>{{mapPoint.Name}}</strong>
                    <a class="clickable" [routerLink]="['/event/search/', mapPoint.Data]">Click here to see more!</a>
                </agm-info-window>
            </agm-marker>
            <agm-marker *ngIf="mapPoint.Count > 1" [label]="mapPoint.Count.toString()" [latitude]="mapPoint.Y" [longitude]="mapPoint.X" [iconUrl]="getIconUrl(mapPoint.Count)" (markerClick)="markerClick($event)"></agm-marker>
        </div>
    </agm-map>
</div>