<div class="jumbotron" style="display: flex; align-items: center;">
	<div class="container">
		<h1>Djsidogjsoidg</h1>
		<form [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm.value)" autocomplete="on" novalidate>
            <div class="input-group">
                <input class="form-control" formControlName="searchTerm" id="searchTerm" placeholder="Search..." type="text">
                <span class="input-group-addon glyphicon glyphicon-search input-lg" (click)="this.onSearch()" style="cursor:pointer"></span>
            </div>
		</form>
		<div>
			<a [routerLink]="['/event/search/']" routerlinkactive="active">Advanced Search</a>
		</div>
	</div>
</div>