input[type=text] {
    background-color: #eaf6fb;
    color: dark-gray;
}

#description {
    background-color: #eaf6fb;
    color: dark-gray;
}

#start {
    background-color: #eaf6fb;
    color: dark-gray;
}

#end {
    background-color: #eaf6fb;
    color: dark-gray;
}
