<div class="col-md-7">
    <h2 class="event-name">{{event?.Name}}</h2>
    <div style="display: inline-block;">
        <button class="btn btn-default" *ngIf="event?.Occurrence!='none'" (click)="moveDate(-1)" [disabled]="eventRepetition <= 1">
            <span aria-hidden="true">&laquo;</span>
        </button>
    </div>
    <div style="display: inline-block; text-align: center; width: 380px;">
        {{event?.StartTime | date: 'MMMM d, y, HH:mm'}} - {{event?.EndTime | date: 'MMMM d, y, HH:mm'}}
    </div>
    <div style="display: inline-block;">
        <button class="btn btn-default" *ngIf="event?.Occurrence!='none'" (click)="moveDate(1)" [disabled]="event.RepeatCount != 0 && eventRepetition >= event.RepeatCount">
            <span aria-hidden="true">&raquo;</span>
        </button>
    </div>
    <h3>Details</h3> 
    <div class="well">
        <p>{{event?.Description}}</p>
        
        Categories:
        <ul *ngIf="event">
            <li *ngFor="let category of event.Categories">
                {{categoryService.CategoryEnum[category]}}
            </li>
        </ul>
        <div *ngIf="event.Custom">
            <h4>Custom attributes:</h4>
            <div *ngFor="let attribute of event.Custom">
                <div>
                    {{attribute.key}}
                </div>
                <ul>
                    <li *ngFor="let value of attribute.values">
                        {{value}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="custom-display">
            <h4>Rating: {{event?.Rating | number:'1.2-2'}}</h4>
        </div>
        <div>
            <fieldset class="rating" [ngClass]="{'notrated': !hasRated}">
                <input type="radio" value="5" [checked]="rating===5" />
                <label title="5 stars" (click)='rate(5)'>5 stars</label>
                <input type="radio" value="4" [checked]="rating===4" />
                <label title="4 stars" (click)='rate(4)'>4 stars</label>
                <input type="radio" value="3" [checked]="rating===3" />
                <label title="3 stars" (click)='rate(3)'>3 stars</label>
                <input type="radio" value="2" [checked]="rating===2" />
                <label title="2 stars" (click)='rate(2)'>2 stars</label>
                <input type="radio" value="1" [checked]="rating===1" />
                <label title="1 stars" (click)='rate(1)'>1 star</label>
            </fieldset>
        </div>
      
        <div class="custom-clear">
            <h4>Number of votes: {{event?.RateCount}}</h4>
        </div>
        <div class="custom-display">
            <h4>Reserved/Capacity: {{event?.Reserved}}/{{event?.Capacity}}</h4>
        </div>
        <div *ngIf="event?.Reserved < event?.Capacity">
            <input type="button" class="btn btn-default" value="Reserve" (click)="reserve()" [disabled]="event?.Reserved >= event?.Capacity"/>
        </div>
        <div *ngIf="event?.Reserved >= event?.Capacity">
            <input type="button" class="btn btn-danger" value="Event fully reserved" (click)="reserve()" [disabled]="event?.Reserved >= event?.Capacity" />
        </div>
    </div>
    <h3>Images</h3>
    <span *ngIf="getImagesLoading">Loading... <i class="fa fa-spinner fa-spin fa-spin-lg"></i></span>
    <div *ngIf="!getImagesLoading && images.length === 0">
        <h4>No images for this event...</h4>
    </div>
    <div [hidden]="getImagesLoading || images.length === 0" id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" *ngIf="images?.length > 1">
            <li data-target="#myCarousel" *ngFor="let image of images; let i=index" [attr.data-slide-to]="i" [ngClass]="i === 0 ? 'active' : '' "></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" #carousel id="carousel-inner"></div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" *ngIf="images?.length > 1">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" *ngIf="images?.length > 1">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="col-md-5" *ngIf="location">
    <h4>Location: {{location.Address}}</h4>
    <div class="custom-display">
        <h4>Location Rating: {{location.Rating | number:'1.2-2'}}</h4>
    </div>

    <div class="custom-clear">
        <h4>Number of votes: {{location.RateCount}}</h4>
    </div>
    <div>
        <agm-map [latitude]="event.Latitude" [longitude]="event.Longitude">
            <agm-marker [latitude]="event.Latitude" [longitude]="event.Longitude"></agm-marker>
        </agm-map>
    </div>
</div>