li > a.active {
    background-color: rgb(240,240,240);
    font-weight: bold;
}

.icon-bar {
    background-color: #2a6496;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}