<div class="progress progress-striped active">
    <div class="progress-bar" role="progressbar" [ngClass]="{'stepOne': !createdEvent, 'stepTwo': createdEvent, 'stepThree': customizedEvent}">
        <span *ngIf="!createdEvent &&!customizedEvent">Basic Information</span>
        <span *ngIf="createdEvent &&!customizedEvent">Customize</span>
        <span *ngIf="createdEvent && customizedEvent">Add Images</span>
    </div>
    <div *ngIf="!createdEvent && !customizedEvent" class="progress-bar progress-bar-danger" role="progressbar" style="width:25%">
        Customize
    </div>
    <div *ngIf="!customizedEvent" class="progress-bar progress-bar-danger" role="progressbar" style="width:25%">
        Add Images
    </div>
</div>

<create-event (eventEmitter)="createEvent($event)" *ngIf="!createdEvent"></create-event>
<create-customize *ngIf="createdEvent && !customizedEvent" (eventEmitter)="customizeEvent($event)" [createdEvent]="createdEvent"></create-customize>
<create-images *ngIf="customizedEvent" [customizedEvent]="customizedEvent"></create-images>