<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleMaps.Net.Clustering" version="0.8.5-alpha" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net452" />
  <package id="X.PagedList" version="7.1.0" targetFramework="net452" />
</packages>