<div class="col-md-7">
    <h2 class="event-name">{{event.Name}}</h2> <p class="event-time">Time: {{event.StartTime | date:'fullDate'}} {{event.StartTime | date:'shortTime'}} - {{event.EndTime | date:'fullDate'}} {{event.EndTime | date:'shortTime'}}</p>
    <h3>Details</h3> 
    <div class="well">
        <p>{{event.Description}}</p>
        
        <h4>Location: {{address}}</h4>
        <ul>Categories
            <li *ngFor="let category of event.Categories">
                {{CategoryEnum[category]}}
            </li>
        </ul>
    </div>
    <h3>Images</h3>
    <span *ngIf="imagesLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate">Loading...</span>
    <div *ngIf="!imagesLoading && images.length === 0">
        <h4>No images for this event...</h4>
    </div>
    <div *ngIf="!imagesLoading && images.length !== 0" id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" *ngFor="let image of images; let i=index" [attr.data-slide-to]="i" [ngClass]="i === 0 ? 'active' : '' "></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div *ngFor="let image of images; let i=index" [ngClass]="i === 0 ? 'item active' : 'item'">
                <img [src]="'data:image/jpeg;base64,'+image.Content" alt="event.Name + '_image' + i"/>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <button (click)="handleCancelClick()">Cancel</button>

</div>