<div class="jumbotron" style="display: flex; align-items: center;">
	<div class="container">
        <div style="text-align: center">
            <img src="../../assets/images/elephant-acid-green_480.png" style="height: 200px;" alt="African Bush Elephant Acid Green"/>
        </div>
		<form [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm.value)" autocomplete="on" novalidate>
            <div class="input-group">
                <input class="form-control input-lg" formControlName="searchTerm" id="searchTerm" placeholder="Search..." type="text">
                <span class="input-group-addon glyphicon glyphicon-search" (click)="onSearch(searchForm.value)" style="cursor:pointer"></span>
            </div>
		</form>
		<div>
			<a [routerLink]="['/event/search/']" routerlinkactive="active">Advanced Search</a>
		</div>
	</div>
</div>